/*HTML attirbutes*/
* {
  box-sizing: border-box;
}
body {
  opacity: 0;
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
  /* background-color: #131313; */
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  margin: 0;
  font-size: 1.5em;
  color: white;
  overflow-x: hidden;
}
header{
  background: linear-gradient(0deg, #131313, transparent),
            #131313 url('../imgs/header2.jpg') no-repeat;
  box-shadow: 10px 10px 100px 20px #131313;
  display: block;
  z-index: 3;
  height: 480px;
}
h1 {
  font-family: Arimo;
  font-size: 5em;
  color: white;
  font-weight: 10;
  text-shadow: 0 3px 3px black;
}
h2{
  font-size: 2em;
  margin-bottom: 2%;
}
u{
  font-size: 1.5em;
  text-decoration-color: #2d87ff;
}
hr{
  width: 100%;
  border-top: 1px solid #2d87ff;
}
h2 hr{
  width: 10%;
  margin: .8% 2%;
  display: inline-block;
}
h2 hr:first-of-type{
  margin: .8% 2% .8% 0%;
}
sub{
  font-size: 85%;
}

/*Bootstrap container and navbar*/
.wrapper{
  margin-top:250px;
}
.container{
  margin-top: 14%;
  margin-left: 105px;
  margin-right: 10px;
}
.container:first-of-type{
  margin-top: 0%;
}
.navbar{
  display: block;
  padding: 2% 0%;
  text-align: center;
  position: fixed;
  top: 30%;
  opacity: .9;
  z-index: 3;
  width: 100px;
  height: 320px;
  border-radius: 0px 15px 15px 0px;
}
#nav-mobile{
  display: none;
  width: 50px;
  height: 80px;
  border-radius: 0px 50% 50% 0px;
  padding: 25px 0%;
}
.btn{
  margin-top: 2%;
  color: white;
  background-color: transparent;
  border: 0;
  width: 100%;
}
.btn:hover, .btn:active:focus, .btn:active, .btn:focus{
  outline: none;
  color: white;
  background-color: #2d87ff;
}

/*Intro*/
.intro {
  font-size: 1.5em;
  color: white;
  text-align: center;
  margin-top: 1%;
  justify-content: center;
  display: flex;
}
.me {
  margin: 2.5% 0%;
  border-radius: 100%;
}
.intro p {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  line-height: 40px;
  flex-wrap: nowrap;
}
#intro{
  text-align:center;
}
#intro hr{
  margin: 0;
  flex-wrap: nowrap;
}


/*Bootstrap Table Fix*/
.table > thead > tr > th, .table > tbody > tr > td, .table > tbody + tbody{
  border-bottom: 0;
  border-top: 0;
}

.table{
  border: none;
}
th{
  font-weight: normal;
}
.knowledge table{
  border-right: 1px solid #3e3e3e;
}

/*Mobile*/
@media only screen and (max-width: 768px){
  .container{
    margin-left: 50px;
  }
  #nav-main{
    display: none;
  }
  #nav-mobile{
    display: block;
  }
}
@media only screen and (max-width: 504px){
    .intro p{
      height:
    }
}
@media only screen and (max-width: 790px){
  .knowledge table{
    border: none;
  }
}
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 3em;
  }
  sub{
    font-size: 75%;
  }
  .intro p{
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 10%;
    font-size: .6em;
  }
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 8.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131313;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d87ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999999;
}
